.albumView {
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.albumView.Button {
  font-size: 8px;
}

.trackList {
  width: 50vw;
  border: black 1px solid;
  background-color: cyan;
}

.trackCol {
  width: 15vw;
}
